@import '__meta.scss';

.error-message{
    margin: 2em;
    display: flex;
    flex-direction: column;

    h1{
        font-size: 6em;
        height: 1em;
        line-height: 80%;
    }

    p {
        margin-bottom: 1em;
    }

    p,
    a {
        font-size: 1.2em;
        text-decoration: none;
    }
    a:visited{
        color: var(--black);
    }


    span {
        display: flex;
        align-items: center;

        &:hover {
            i{
                transform: translateX(-.2em) scale(1.5);
            }

            cursor: pointer;
        }

        i{
            font-size: .8em;
            margin-right: .3em;
            transition: .2s ease-out;
        }
    }
}
