@import '__meta.scss';

.error-message{
    margin: 2em;
    display: flex;
    flex-direction: column;

    h1{
        font-size: 4rem;
        margin-top: 1rem;
        height: 1em;
    }

    p {
        margin-bottom: 1em;
    }

    p,
    a {
        font-size: 1.5rem;
        text-decoration: none;
    }

    a:visited{
        color: var(--black);
    }

    i{
        font-size: .8em;
        margin-right: .3em;
    }
}
